<div class="container my-5 col-12">
  <div class="slider-container">
    <button class="nav-button left " (click)="scrollLeft()"><i class="fa-solid fa-arrow-left"></i></button>
    <div class="slider">
      <div class="slide">
        <img src="assets/images/novedades/zapatilla1.png" alt="Air Max" class="img-fluid">
      </div>
      <div class="slide">
        <img src="assets/images/novedades/zapatilla2.png" alt="Y2K" class="img-fluid">
      </div>
      <div class="slide">
        <img src="assets/images/novedades/zapatilla3.png" alt="Air Force 1" class="img-fluid">
      </div>
      <div class="slide">
        <img src="assets/images/novedades/zapatilla4.png" alt="Air Max" class="img-fluid">
      </div>
      <div class="slide">
        <img src="assets/images/novedades/zapatilla5.png" alt="Y2K" class="img-fluid">
      </div>
      <div class="slide">
        <img src="assets/images/novedades/zapatilla6.png" alt="Air Force 1" class="img-fluid">
      </div>
      <div class="slide">
        <img src="assets/images/novedades/zapatilla7.png" alt="Air Max" class="img-fluid">
      </div>
      <div class="slide">
        <img src="assets/images/novedades/zapatilla8.png" alt="Y2K" class="img-fluid">
      </div>
    </div>
    <button class="nav-button right" (click)="scrollRight()"><i class="fa-solid fa-arrow-right"></i></button>
  </div>
</div>

