<section class="card shadow py-5 ancho text-center position-fixed ">
<h1 mat-dialog-title>Contraseña</h1>
<small class="pb-1">minimo 8 caracteres, mayusculas, minusculas y al menos 1 caracter especial.</small>
<div mat-dialog-content class="px-5">
  <mat-form-field appearance="outline" class="col-12">
    <mat-label>Contraseña</mat-label>
    <input
      matInput
      type="password"
      name="contraseña"
      placeholder="Contraseña"
      required
      ngModel
      #contraseniaModel="ngModel"
      pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[\W_]).{8,100}$"
    />
    <mat-error *ngIf="contraseniaModel.value == ''">
      La contraseña es obligatoria</mat-error
    >
  </mat-form-field>
  <mat-form-field appearance="outline" class="col-12">
    <mat-label>Contraseña</mat-label>
    <input
      matInput
      type="password"
      name="contraseña"
      placeholder="Contraseña"
      required
      ngModel
      #contraseniaModel2="ngModel"
      pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[\W_]).{8,100}$"
    />
    <mat-error *ngIf="contraseniaModel2.value == ''">
      La contraseña es obligatoria</mat-error
    >
    <mat-error *ngIf="contraseniaModel2.value !== contraseniaModel.value">
      no coinciden
    </mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-button [disabled]="contraseniaModel.invalid || contraseniaModel2.invalid" (click)="compare(contraseniaModel.value, contraseniaModel2.value)">Ok</button>
</div>
</section>
