<section class="card shadow py-5 ancho text-center position-fixed ">
  <h1 mat-dialog-title>Email</h1>
  <div mat-dialog-content>
    <mat-form-field appearance="outline" class="col-12 px-5">
      <mat-label>Correo</mat-label>
      <input
        matInput
        name="mail"
        placeholder="Correo"
        required
        type="email"
        ngModel
        #email="ngModel"
        pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
      />
      <mat-error *ngIf="email.value==''"
      >El correo es obligatorio</mat-error
      >
      <mat-error *ngIf="email.value !== '' && email.invalid">
        Correo mal formado
      </mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="changePassword()">Cancel</button>
    <button mat-button [disabled]="email.invalid" (click)="getInfo(email.value)">Ok</button>
  </div>
</section>

