
.fab{
  font-size: 1.3rem;
}

.fa-facebook-f:hover{
  color: blue;
}

.fa-twitter:hover{
  color: #55C0FD;
}

.fa-instagram:hover{
  color: hotpink;
}

.fa-linkedin:hover{
  color: blue;
}

.fa-github:hover{
  color: black;
}

.titulo{
  color: #55C0FD;
}

.fas:hover{
  color: #55C0FD;
}

.text-reset{
  text-decoration: none;
  cursor: pointer;
}

.text-reset:hover{
text-decoration: underline}


mat-tree-node {
  display: block;
}

.tree-titulo{
  color: #55C0FD;
}

.footer-pequeño{
  display: block;
}

.footer-grande{
  display: none;
}

@media (min-width: 768px){
  .footer-pequeño{
    display: none;
  }
  
  .footer-grande{
    display: block;
  }
}