.logotype{
  max-width: 150px;
  position: relative;
  animation: animacion 1s ease forwards;
}

@keyframes animacion {
  from{
    opacity: 0;
    top: -100px;
  }
  to{
    opacity: 1;
    top: 0px;
  }
}

.icon{
  color: #55C0FD;
}

.active{
  border-bottom: 2px solid #55C0FD;
}

.menu1{
  z-index: 10;
  position: absolute;
  top: 100%;
  right: 50%;
  padding: 10px;
  text-align: center;
  background-color: white;

}

.menu2{
  z-index: 10;
  position: absolute;
  top: 100%;
  right: 50%;
  padding: 10px;
  text-align: center;
  background-color: #212529;
}


.dark-theme {
color: white;
}

.light-theme {
color: black;
}


.custom-badge .mat-badge-content {
   background-color: red; /* Cambia el color de fondo */
  color: #ffffff; /* Cambia el color del texto */
}


.btn__nav{
  background-color: #55C0FD;
  color: #fff;
}
