<section class="container-fluid px-5 d-flex flex-column justify-content-center align-items-center text-center">
  <h1 class="fw-semibold title">Todos los productos que buscas a un solo CLICK.</h1>
  <a class="btn btn-home col-1 my-5 shadow" routerLink="/hype/productos">PRODUCTOS</a>
  <article class="d-flex justify-content-center align-items-center col-12 home__imagenes my-5">
    <img src="./assets/images/home1.png" alt="" class="col-4 shadow">
    <img src="./assets/images/home2.png" alt="" class="col-4 shadow">
  </article>
  <h2 class="fw-semibold color my-5">QUIENES SOMOS</h2>
  <article class="d-flex justify-content-around align-content-start my-5 flex-column flex-xl-row">
    <div class="col-12 text-start fs-4 col-xl-5 my-3"><p>Bienvenidos a nuestra tienda, donde el estilo único y la innovación se encuentran en cada rincón. Nos enorgullece ofrecer una selección de productos que no encontrarás en ningún otro lugar.</p>

      <p>En nuestra tienda, creemos en la creatividad y en la originalidad. Cada pieza que ofrecemos está cuidadosamente seleccionada para reflejar las últimas tendencias y, al mismo tiempo, mantener un toque distintivo que nos hace destacar.</p>

      <p>Nuestra misión es revolucionar el mundo de la moda. Nos esforzamos por ser pioneros en el sector, presentando diseños vanguardistas y soluciones innovadoras que redefinen lo que significa estar a la moda.</p>

      <p>Únete a nosotros en este emocionante viaje y descubre cómo estamos transformando la industria de la moda, una prenda a la vez.</p>
    </div>

    <img src="./assets/images/home3.png" class="img-fluid col-12 col-xl-5 my-3 shadow">
  </article>
  <h2 class="fw-semibold color my-5 d-none d-sm-block">NOVEDADES</h2>
  <!-- Componente novedades -->
  <app-novedades class="d-none d-sm-block"></app-novedades>

  <h2 class="fw-semibold color my-5">INSPÍRATE</h2>
  <!-- Componente inspirate -->
  <app-inspirate></app-inspirate>

</section>
