<div class="gestion__header">
  <h1 class="title__emple text-center w-75">      GESTIÓN DE PRODUCTOS
  </h1>
</div>


<div class="w-100 d-flex justify-content-center py-4">
  <div class="d-flex justify-content-center gap-3 align-items-baseline btn__aniadir
  rounded btn ancho" (click)="showModal()">
    <p class="">Añade un producto</p>
    <button class=" btn btn__aniadir " (click)="showModal()"><i class="fa-solid fa-plus"></i></button>
  </div>
</div>


<div class="d-flex gap-1 gap-sm-3 gap-md-5 flex-wrap flex-row w-100 justify-content-center p-5 ">
  <app-productos-card *ngFor="let producto of productos" [producto]="producto"
    class="shadow rounded"></app-productos-card>
</div>


<!-- modal -->
<div class="modal " id="modal__aniadir">
  <div class="d-flex justify-content-between w-100">
    <p>Nuevo Producto</p>
    <p class="btn" (click)="removeModal()">X</p>
  </div>
  <form
    (ngSubmit)="newProduct(nombreModel.value,descripcionModel.value,precioModel.value,stockModel.value,categoriaModel.value)">
    <input type="file" (change)="onFileSelected($event)" accept="image/*" />
    <mat-form-field appearance="outline" class="col-12">
      <mat-label>Nombre</mat-label>
      <input matInput name="nombre" placeholder="nombre" required ngModel #nombreModel="ngModel" />
      <mat-error *ngIf="nombreModel.value == ''">El nombre es obligatorio</mat-error>
      <mat-error *ngIf="nombreModel.value !=='' && nombreModel.invalid">El nombre no cumple el formato</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-12">
      <mat-label>Descripcion</mat-label>
      <input matInput name="descripcion" placeholder="descripcion" required type="text" ngModel
        #descripcionModel="ngModel" />
      <mat-error *ngIf="descripcionModel.value==''">La descripción es obligatorio</mat-error>
      <mat-error *ngIf="descripcionModel.value !== '' && descripcionModel.invalid">
        La descripción no cumple el formato
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-12">
      <mat-label>precio</mat-label>
      <input matInput type="number" name="precio" placeholder="precio" required ngModel #precioModel="ngModel" min=0 />
      <mat-error *ngIf="precioModel.value == ''">
        El precio es obligatoria</mat-error>
      <mat-error *ngIf="precioModel.value !== '' && precioModel.invalid">
        El precio ha de ser mayor que 0
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-12">
      <mat-label>Stock</mat-label>
      <input matInput type="number" name="stock" placeholder="stock" required ngModel #stockModel="ngModel" min=1 />
      <mat-error *ngIf="stockModel.value == ''">
        El stock es obligatoria</mat-error>
      <mat-error *ngIf="stockModel.value !== '' && stockModel.invalid">
        El stock ha de ser minimo 1
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-12 select">
      <mat-label>Categoría</mat-label>
      <mat-select name="categoria" required ngModel #categoriaModel="ngModel" panelClass="custom-select-panel">
        <mat-option value="">Seleccione una categoría</mat-option>
        <mat-option value="Zapatillas">Zapatillas</mat-option>
        <mat-option value="Ropa">Ropa</mat-option>
        <mat-option value="Accesorios">Accesorios</mat-option>
        <!-- Agrega más opciones según lo que necesites -->
      </mat-select>
    
      <mat-error *ngIf="categoriaModel.value === ''">La categoría es obligatoria</mat-error>
      <mat-error *ngIf="categoriaModel.invalid && categoriaModel.value !== ''">
        La categoría no cumple el formato
      </mat-error>
    </mat-form-field>
    
    

    <button class="col-12" style="backgroundColor: #55C0FD; color: white;" mat-raised-button type="submit"
      [disabled]="nombreModel.invalid || descripcionModel.invalid || precioModel.invalid || stockModel.invalid || categoriaModel.invalid"
      [ngClass]="{'grayscale': nombreModel.invalid || descripcionModel.invalid || precioModel.invalid || stockModel.invalid || categoriaModel.invalid}">Añadir
      producto</button>
  </form>
</div>

<!-- modal historial de compras -->

<div class=" p-5 rounded shadow historial__posicionamiento d-none" id="chart">
  <div class="w-100 d-flex justify-content-end ">
    <p class="text-end btn cerrar" (click)="cerrar()">X</p>
  </div>
  <canvas id="myChart"></canvas>
</div>