<section class="card shadow py-5 ancho text-center position-fixed ">
  <h1 mat-dialog-title>Codigo</h1>
  <small>Te hemos enviado un correo</small>
  <div mat-dialog-content>
    <mat-form-field appearance="outline" class="col-12 px-5">
      <mat-label>codigo</mat-label>
      <input
        matInput
        name="code"
        placeholder="codigo"
        required
        type="number"
        ngModel
        #code="ngModel"
        pattern="[0-9]{6}$"
      />
      <mat-error *ngIf="code.value==''"
      >El codigo es obligatorio</mat-error
      >
      <mat-error *ngIf="code.value !== '' && code.invalid">
        Son 6 dígitos
      </mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="cancel()">Cancel</button>
    <button mat-button [disabled]="code.invalid" (click)="getInfo(code.value)">Ok</button>
  </div>
</section>


