<mat-card class=" card d-flex flex-column justify-content-between" [ngClass]="themeClass" data-id='{{producto.id_producto}}'>
  <img mat-card-image src="{{img}}" alt="Photo of a Shiba Inu"> 
  <mat-card-content>
    <p class="text-start fw-semibold">{{producto.nombre}}</p>
    <p class="text-start">
      {{
        producto.descripcion
      }}
    </p>
    <p class="text-end">{{producto.precio}}</p>

  </mat-card-content>
  <mat-card-actions *ngIf="rol == 'cliente';else Empleado">
    <button mat-button><i class="fa-solid fa-heart text-danger"></i></button>
    <button mat-button class="fw-semibold bg-warning text-white">+ CARRITO</button>
  </mat-card-actions>
  <ng-template #Empleado>
    <mat-card-actions class="justify-content-end">
      <button mat-button class="text-primary" (click)="update($event)">
        <i class="fa-solid fa-pen-to-square"></i>
      </button>
      <button mat-button class="text-danger" (click)="delete($event)">
        <i class="fa-solid fa-trash"></i>
      </button>
      
    </mat-card-actions>
  </ng-template>
</mat-card>
